<!DOCTYPE html>
<html lang="pr-br">
<head>
    <%-include('partials/head.ejs')%>
</head>
<body class="bodyA">

    <section id="appointment" class="appointment">
        <div class="container">
            <h2>Preencha os campos abaixo</h2>

            <form id="formCadastro">
                <div class="personal-data">
                    <div class="input-wrapper">
                        <label>Nome</label>
                        <input type="text" name="nome" id="nameApp" placeholder="Digite o seu nome">
                        <span class="erro"></span>
                    </div>
                    <div class="input-wrapper">
                        <label>RGA</label>
                        <input type="text" name="rga" id="rgaApp" placeholder="Digite o seu RGA">
                        <span class="erro"></span>
                    </div>
                    <div class="input-wrapper">
                        <label>E-mail</label>
                        <input type="email" name="email" id="emailApp" placeholder="Digite o seu e-mail" >
                        <span class="erro"></span>
                    </div>
                    <div class="input-wrapper">
                        <label>Curso</label>
                        <select id ="cursoApp" name="curso">
                            <option value="">-- Selecione --</option>
                            <option value="Engenharia de Computação">Engenharia de Computação</option>
                            <option value="Engenharia de Controle e Automação">Engenharia de Controle e Automação</option>
                            <option value="Engenharia de Minas">Engenharia de Minas</option>
                            <option value="Engenharia de Transportes">Engenharia de Transportes</option>
                            <option value="Engenharia Química">Engenharia Química</option>
                        </select>
                        <span class="erro"></span>
                    </div>
                    <div class="input-wrapper">
                        <label>Telefone</label>
                        <input name="tele" type="text" id="telApp" placeholder="Digite o seu telefone">
                        <span class="erro"></span>
                    </div>
                    <div class="input-wrapper">
                        <label>Tipo</label>
                        <select name="tipo" id ="tipoApp">
                            <option value="">-- Selecione --</option>
                            <option value="Horas complementares">Horas complementares</option>
                            <option value="Horas de extensão">Horas de extensão</option>
                        </select>
                        <span class="erro"></span>
                        
                    </div>
                    <div class="input-wrapper">
                        <label>Anexe seu certificado para comprovar suas horas (somente em PDF)</label>
                        <input type="file" accept=".pdf" name="arq" id="arqApp">
                        <span class="erro"></span>
                    </div>

                    <div class="input-wrapper">
                        <label>Horas registradas no documento</label>
                        <input name="hrasD" type="text" id="hrsDApp" placeholder="Digite as hrs registradas">
                        <span class="erro"></span>
                    </div>
                </div>
                    <div class="input-wrapper">
                        <label>Mensagem (opcional)</label>
                        <textarea id="msgApp"></textarea>
                    </div>   
                </div>
            </form>

          <div class="btn-box">
              <div class="btns">
                  <a href="homepage"><button id="btnHp" class="btn">Voltar</button></a>
              </div>
              <div class="btns">
                  <input class ="btn" type="submit" id="sendApp"  value="Enviar">
              </div>
          </div>
      </section>
      <section class="containerDb">
              <div class="storage"> 
                  <p>Tabela do que foi esta salvo no banco de dados o com a quantidade de horas totais de cada certificado registrado e a quantidade que foi aproveitada</p>
                  <table>
                      <tr>
                          <th>Nome</th>
                          <th>RGA</th>
                          <th>E-mail</th>
                          <th>Curso</th>
                          <th>Telefone</th>
                          <th>Tipo</th>
                          <th>Certificado anexado</th>
                          <th>Horas registradas no documento</th>
                          <th>Horas registradas</th>
                          <th>Mensagem</th>
                      </tr>
                      <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                      </tr>
                  </table>
              </div>

              <div class="dashboards">
                  <p>Dashbord com gráficos (c/ legendas) mostrando horas complementares e de extensão que tem registrado, quantas horas tem pendente para validar, quantas faltam para completar e o total de horas necessário</p>
                  
                  <div class="chartCard">
                      <div class="chartBox">
                          <canvas id="myChart1"></canvas>
                          <b><small>Horas totais aproveitadas:</small></b>
                          <br>
                          <b><small>Horas faltam:</small></b>
                      </div>
                      <div class="chartBox">
                          <canvas id="myChart2"></canvas>
                          <b><small>Horas totais aproveitadas:</small></b>
                          <br>
                          <b><small>Horas faltam:</small></b>
                      </div>
                  </div>
                    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
                    <script>

var ctx = document.getElementById('myChart1').getContext('2d');
var myChart2 = document.getElementById('myChart2').getContext('2d');

var myChart = new Chart (ctx, {
      type: 'bar',
      data: {
      labels: ['Horas de extensão'],
      datasets: [{
      label:'Total de horas de extensão (336 Horas)',
      data: [336],
      borderWidth: 3,
      borderColor: 'rgba(18, 94, 226, 1)',
      backgroundColor: 'rgba(18, 94, 226, 1)',
      type: 'line'
    },
    {
      label: "Horas aproveitadas",
      data: [168],
      backgroundColor: [
      "rgba(39, 204, 136, 0.3)"
      ],
      borderColor: [
        "rgba(39, 204, 136, 1)"  
      ],
      borderWidth: 3,
    },
    {
      label: "Horas faltantes",
      data: [168],
      backgroundColor: [
        "backgroundColor: '#27cc88',"
        
      ],
      backgroundColor: [
      "rgba(255, 26, 104, 0.3)"
      ],
      borderColor: [
        "rgba(255, 26, 104, 1)"
        
      ],
      borderWidth: 3,
    }
  ]
    },
    options: {
    responsive: true,
    scales: {
    x: {
        stacked: true
    },
    y: {
      beginAtZero: true,
      stacked: true
    },
  },
  }

  });


  var myChart = new Chart (myChart2, {
    type: 'bar',
    data: {
    labels: ['Horas Complementares'],
    datasets: [{
    label:'Total de horas complementares (48 Horas)',
    data: [48],
    borderWidth: 3,
    borderColor: 'rgba(18, 94, 226, 1)',
    backgroundColor: 'rgba(18, 94, 226, 1)',
    type: 'line'
  },
  {
    label: "Horas aproveitadas",
    data: [24],
    backgroundColor: [
    "rgba(39, 204, 136, 0.3)"
    ],
    borderColor: [
      "rgba(39, 204, 136, 1)"  
    ],
    borderWidth: 3,
  },
  {
    label: "Horas faltantes",
    data: [24],
    backgroundColor: [
      "backgroundColor: '#27cc88',"
      
    ],
    backgroundColor: [
    "rgba(255, 26, 104, 0.3)"
    ],
    borderColor: [
      "rgba(255, 26, 104, 1)"
      
    ],
    borderWidth: 3,
  }
]
  },
  options: {
  responsive: true,
  scales: {
  x: {
      stacked: true
  },
  y: {
    beginAtZero: true,
    stacked: true
  },
},
}

});
                    </script>    
              </div>

      
      
  

      <footer class="footer">
          © 2023 UFMT - Todos os direitos reservados
          <br>
          Desenvolvido por Matheus Carvalho
      </footer>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="js/graph.js"></script>
  
</body>
</html>