<!DOCTYPE html>
<html lang="pr-br">
<head>
    <%-include('partials/head.ejs')%>
</head>
<body class="bodyd">
   



<!-- MENU -->
<!-- HEADER-2-BARRA-DE-NAVEGAÇÃO -->
<header class="header-2">  
    <nav class="navbar">
        <ul>
            <a href="homepage"><li><button id="btnHp">Voltar para a página principal</button></li></a>
            <li><a href="#compl">Horas de Atividades Complementares</a></li>
            <li><a href="#ext">Horas de Atividades de Extensão</a></li>
        </ul>
    </nav>
</header>
<section id="compl" class="complementares">
    <div class="container">
        <h2>Atividades Complementares</h2>
        <article class="info">
            <h3>Conforme DECISÃO DO COLEGIADO DE CURSO DE ENGENHARIA DE COMPUTAÇÃO Nº 003 DE 29 DE ABRIL DE 2022, seguem as orientações para solicitação de Aproveitamento de Atividades Complementares no Curso de Engenharia de Computação. </h3>
            <br>
                <p> 
                    <span class="imp">Art. 1°.</span> As solicitações de aproveitamento das atividades complementares devem obedecer os seguintes procedimentos:
                    <p><b>1.</b> Abrir um processo <a href="https://www.ufmt.br/site/sei/pagina/acessos-1603224167/1737" target="_blank"><b>SEI</b></a> com o tipo "Atividades Complementares"</p>
                    <p><b>2.</b> Anexar a tabela de aproveitamento  preenchida com todas as informações solicitadas e exportar em PDF. <b>(<a href="https://cms.ufmt.br/files/galleries/228/Tabelas/TabelaAtividadesComplementares.xlsx">Clique aqui para baixar a tabela</a>)</b></p>
                    <p class="subtext-2"><b>a)</b> Somente serão avaliados os certificados e/ou documentos comprobatórios que constarem nesta tabela;</p>
                    <p class="subtext-2"><b>b)</b> A soma total de todas as participações devem ser maiores ou iguais a 48h, conforme o Projeto Pedagógico do Curso;</p>
                    <p class="subtext-2"><b>c)</b> Deve-se atentar a proporção de horas especificadas em cada item de cada grupo.</p>
                    <p><b>3.</b> Anexar o histórico escolar atualizado;</p>
                    <p><b>4.</b> Enviar para a Coordenação do Curso de Engenharia de Computação.</p>
                </p>
            <br>
                <p>
                    <span class="imp">Art. 2°.</span> A carga horária a ser inserida no histórico escolar será de 48h.
                </p>
            <br>
                <p>
                    <span class="imp">Art. 3°.</span> Será indeferido sumariamente o processo que:
                
                    <p><b>1.</b> Não obedeça os procedimentos descritos no Art. 1º desta decisão;
                    <p><b>2.</b> Apresente inconsistência entre as informações apresentadas na tabela e os documentos anexados;
                    <p><b>3.</b> Caso as atividades apresentadas não compreendam, no mínimo, dois grupos e/ou não atinjam 48h na soma total de todos os grupos;
                    <p><b>4.</b> Seja protocolado fora do prazo estabelecido no Calendário Acadêmico da UFMT ou fora dos períodos excepcionais definidos pelo Colegiado de Curso;
                </p>
            <br>
                <p>
                    <span class="imp">Art. 4°.</span> A secretaria do curso e os membros do Colegiado de curso poderão entrar em contato, via e-mail, para solicitar informações e/ou documentos adicionais.
                    <p><b>1.</b> Caso o requerente não responda os e-mails em até 15 (quinze) dias corridos, o processo será arquivado.
                </p>
        </article>
    </div>
</section>

<section id="ext" class="extensao">
    <div class="container">
        <h2>Atividades de extensão</h2>
        <article class="info">
            <h3>Conforme DECISÃO DO COLEGIADO DE CURSO DE ENGENHARIA DE COMPUTAÇÃO Nº 002 DE 29 DE ABRIL DE 2022, seguem as orientações para solicitação de Aproveitamento de Atividades de Extensão no Curso de Engenharia de Computação.</h3>
            <br>
                <p> 
                    <span class="imp">Art. 1°.</span> As solicitações de aproveitamento das atividades de extensão devem obedecer os seguintes procedimentos:
                    <p><b>1.</b> Abrir um processo <a href="https://www.ufmt.br/site/sei/pagina/acessos-1603224167/1737" target="_blank"><b>SEI</b></a> com o tipo "Atividades Complementares"</p>
                    <p><b>2.</b> Anexar a tabela de aproveitamento  preenchida com todas as informações solicitadas e exportar em PDF. <b>(<a href="https://cms.ufmt.br/files/galleries/228/Tabelas/TabelaAtividadesExtensao.xlsx">Clique aqui para baixar a tabela</a>)</b></p>
                    <p class="subtext-2"><b>a)</b> Somente serão avaliados os certificados que constarem nesta tabela;</p>
                    <p class="subtext-2"><b>b)</b> A soma total de todas as participações devem ser maiores ou iguais a 336h, conforme o Projeto Pedagógico do Curso;</p>
                    <p class="subtext-2"><b>c)</b> Obter todos os certificados que comprovem a participação nos projetos de extensão.</p>
                    <p><b>3.</b> Anexar o histórico escolar atualizado;</p>
                    <p><b>4.</b> Enviar para a Coordenação do Curso de Engenharia de Computação.</p>
                </p>
            <br>
                <p>
                    <span class="imp">Art. 2°.</span> A carga horária a ser inserida no histórico escolar será de 336h.
                </p>
            <br>
                <p>
                    <span class="imp">Art. 3°.</span> Será indeferido sumariamente o processo que:
                
                    <p><b>1.</b> Não obedeça os procedimentos descritos no art. 1º desta decisão;
                    <p><b>2.</b> Apresente inconsistência entre as informações apresentadas na tabela e os documentos anexados;
                    <p><b>3.</b> Seja protocolado fora do prazo estabelecido no Calendário Acadêmico da UFMT ou fora dos períodos excepcionais definidos pelo Colegiado de Curso;
                </p>
            <br>
                <p>
                    <span class="imp">Art. 4°.</span> A secretaria do curso e os membros do Colegiado de curso poderão entrar em contato, via e-mail, para solicitar informações e/ou documentos adicionais.
                    <p><b>1.</b> Caso o requerente não responda os e-mails em até 15 (quinze) dias corridos, o processo será arquivado.
                </p>
        </article>
        
    </div>
</section>



    <%-include('partials/footer.ejs')%>
    <%-include('partials/foot.ejs')%>
</body>
</html>