<header id ="main" class="header-1">
    <b><h1 class="logo"> ufmt<span>faeng</span><span>.br</span></h1></b>
<!-- BARRA DE PESQUISA -->
    <div class="busca">
        <input type="text" placeholder="Pesquise algo"/>
    </div>
    <div class="users">
        USERS
    </div>
</header> 

<!-- HEADER-2-BARRA-DE-NAVEGAÇÃO -->
<header class="header-2">  
    <nav class="navbar">
        <ul>
            <li><a href="#main">Home</a></li>
            <li><a href="#about">Sobre</a></li>
            <li><a href="#">Graduação</a>
                <ul class="submenu">
                    <li>Engenharia de Computação
                        <ul class="submenu">
                            <li>Docentes</li>
                        </ul>
                    </li>
                        <li>Engenharia de Minas
                            <ul class="submenu">
                                <li>Docentes</li>
                            </ul>
                        </li>
                        <li>Engenharia de Transportes
                            <ul class="submenu">
                                <li>Docentes</li>
                            </ul>
                        </li>
                        <li>Engenharia Química
                            <ul class="submenu">
                                <li>Docentes</li>
                            </ul>
                        </li>
                </ul>
            </li>
               <!-- <li><a href="#">Docentes</a></li>-->
                <li><a href="#location">Fale Conosco</a></li>
        </ul>
    </nav>
</header>